  h3 {
    color: #bf1717;
  }
/* banner start */

.healthcare-banner-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #233e50; /* Dark background */
  padding: 20px 50px;
  /* border-radius: 10px; */
  overflow: hidden;
  color: white;
  flex-wrap: wrap;
}
.healthcare-banner-content {
  max-width: 50%;
}
.healthcare-banner-title {
  font-size: 2.5rem;
  font-weight: bold;
}
.healthcare-banner-subtitle {
  font-size: 2rem;
  color: #0d6efd; /* Highlighted text in blue */
}
.healthcare-banner-image {
  width: 100%;
  max-height: 300px;
  min-width: 300px;
  max-width: 400px;
  flex: 1;
  object-fit: cover;
  border-radius: 10px;
}

/* banner end */

  /* location with packages start */
  .healthcare-location-with-packages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Arial, sans-serif;
    margin: 20px;
    /* border: 3px solid black; */
    justify-content: space-evenly;
    gap: 20px;
  }

  .healthcare-sidebar {
    width: 350px;
    background: #ccdbea;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    flex: 1;
    text-align: left;

  }

  .healthcare-sidebar h3 {
    margin-bottom: 20px;
  }

  .healthcare-location-list {
    list-style-type: none;
    padding: 0;
  }

  .healthcare-location-item {
    padding: 10px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .healthcare-location-item:hover,
  .healthcare-location-item.active {
    background: #007bff;
    color: #fff;
    border-color: #007bff;
  }

  .healthcare-main-content {
    /* width: 74.9%; */
    padding: 20px;
    margin-top: 20px;
    background-color: #ccdbeab3;
    border: 1px solid grey;
    border-radius: 10px;
    min-height: 660px;  
    flex: 3;
    max-height: 100%;
    max-width: 100%;

  }

  .healthcare-package-card {
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    padding: 0px;

  }

  .healthcare-package-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #5d9bdd;
    color: white;
    border-radius: 10px;
    gap: 10px;
  }

  .healthcare-package-header-right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .healthcare-package-header-right h4 {
    margin: 0;
  }

  .healthcare-package-header-right .package-price {
    font-weight: bold;
    color: white;
    margin-right: 20px;
  }

  .healthcare-package-header-right .btn {
    background: #5d9bdd;
    color: #fff;
    border: 1px solid white;
    width: 180px;
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 20px;


  }

  .healthcare-package-header-right i {
    font-size: 20px;
    color: white;
  }



  .healthcare-package-header-right .btn:hover {
    background: #0056b3;
  }

  .healthcare-dropdown-content {
    overflow: hidden;
    max-height: 0;
    padding: 0;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 0%;
    transition: height 10s ease-in-out, max-height 3s ease-in-out, padding 2s ease-in-out;
  }
  .healthcare-dropdown-content.expand {
    max-height: 100%; /* Set to a large enough value or calculate dynamically */
    padding: 20px;
    overflow: visible;
    height: 100%;
    transition: height 10s ease-in-out, max-height 3s ease-in-out, padding 3s ease-in-out;
  }


  .healthcare-package-features {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
  }

  .healthcare-package-features h5 {
    margin-top: 20px;
    color: #007bff;
  }

  .healthcare-package-features ul {
    list-style-type: square;
    text-align: left;
    padding-left: 20px;
  }

  .healthcare-package-features-item {
    padding: 20px;
    background-color: #d4d4d4;
    border-radius: 10px;
    margin-right: 20px;
    min-width: 245px;

  }




/* Location cards start */

.l-cards-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.l-card-item {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 30px 40px;
  width: 300px;

  overflow: hidden;
}
.l-card-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.l-card-item .l-card-body {
  padding: 15px;
  /* gap: 10px; */
  
  /* border: 2px solid black; */
}
.text-center {
  text-align: center !important;
}
.l-card-body .location-icon {
  color: #0d6efd;
  font-size: 24px;
  /* margin-bottom: 15px; */
}
.l-card-body  h5 {
  font-size: large;
  padding: 0px;
  margin: 0px;
}
.l-card-body  p {
  font-size: small;
}
.l-card-body  a {
  color: #0d6efd;
  display: block;
}


/* Location cards end */


/* Media query  */

@media (max-width: 693px) {
  /* .package-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  } */
  .banner-image {
    max-width: 100%;
  }
}

@media (max-width: 390px) {
  .healthcare-main-content * {
    max-width: 100%; /* Ensure elements fit within the screen width */
    overflow-x: auto; /* Allow horizontal scrolling for overflowing content */
  }
}
/* Media query  */